.news-list{
	margin-bottom: 30px;

	.listing{
		li{
			overflow: auto;
			width: 100%;
			float: left;
			margin: 10px 0;

			@include tablet-small {
				width: 49%;
				margin-right: 2%;

				&:nth-of-type(2n){
					margin-right: 0;
				}
			}

			.block-title{
				@include heading-m;
				@include line-height(24px);
				color: $blue-dark;
				margin-top: 10px;
			}
		}
	}
}