.categories{
	.block-title{
		@include heading-l;
	}

	ul{
		padding: 15px 30px;
		 li{
		 	padding: 15px 0;
		 	border-bottom: 1px solid #fff;
		 	
		 	a{
		 		@include body-text-l;
		 	}

		 	&:last-of-type{
		 		border-bottom: 0;
		 	}
		 }
	}
}