.blog-pager{
	float: left;
	width: 100%;

	a{
		padding: 5px 20px;
		background: $grey-light;
		color: $grey-dark;
		@include bold-font;

		&:hover{
			background: $grey-mid;
		}
	}

	.prev-p{
		float: left;
	}

	.next-p{
		float: right;
	}
}