.blog-banner{
	height: 300px;
	position: relative;
	margin-bottom: 20px;

	@include tablet {
		height: 440px;
	}

	.text-area{
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 10px 25px;
		background: $blue-overlay;

		@include tablet {
			padding: 20px 50px;
			height: 180px;
		}

		.block-title{
			@include heading-l;
			color: #fff;
			margin-bottom: 10px;
		}
	}
}